.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.app-body{
  margin-top: 85px;
}

.header-component{
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}