
.main-text{
    color: #0c0a09;
    margin: 20px auto 0px auto;
}

.main-text img{
    width: 90%;
    height: 90vh;
    opacity: 10;
    background: rgba(0,0,0,.5);
}

.content-text{
    position: absolute;
    top: 230px;
    left: 250px;
    line-height: 30px;
    text-align: left;
}

.shop-now-btn{
    padding: 7px;
    border-radius: 7px;
    font-size: 15px;
    color: white;
    background-color: #0f172a;
}
.footer-component {
   margin-top: 15px;
  }